/*
!.gitignore
!.gitmodules
!.gitconfig
!/.bashrc
!/.vim
!/.vimrc
!/.pureline.conf
!/.fonts/
!/software
/software/*
!/software/i3
!/software/pureline
!/software/pyenv
!/software/nvm
!/software/password-store
!/software/sway
