/*
!.gitignore
!.gitmodules
!.gitconfig
!/.bashrc
!/.vim
!/.vimrc
!/.flake8
!/.pureline.conf
!/.fonts/
!/.zshrc

!/.config
/.config/*
!/.config/git
!/.config/sway
!/.config/swaylock
!/.config/waybar
!/.config/wofi
!/.config/foot

!/.cache
/.cache/*
!/.cache/wal

!/software
/software/*
!/software/i3
!/software/pureline
!/software/pyenv
!/software/nvm
!/software/password-store
!/software/sway
!/.oh-my-zsh
