# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Till Meyer zu Westram
	email = till.meyerzuwestram@89grad.ch

[alias]
	lg = !"git lg-specific --all"

	lg-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

